<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Suite1">
    <test name = "test1">
        <classes>
            <class name = "testproject.classproject"/>
        </classes>
    </test>
    <test name = "test2">
        <classes>
            <class name = "testproject.classbrauzer"/>
        </classes>
    </test>
</suite>